In [1]:
import pandas as pd

In [2]:
spr = pd.read_excel('spr_gaz_n.xlsx')

In [3]:
spr.loc[spr['modification'].str.contains('C41R13'),:]

,modification,model,describe,site_cnt,base_len,gear,engine
28,C41R13-60(7DA),ГАЗон NEXT City,Борт,3 места,Укороченное шасси,4х2,Дизель (ЯМЗ)
31,C41R13-60,ГАЗон NEXT,Борт,3 места,Укороченное шасси,4х2,Дизель (ЯМЗ)

In [5]:
data = pd.read_excel('gaz_subjects.xlsx', converters={'inn1':str,'inn2':str})
#data = pd.read_csv('gaz_subjects.csv', sep=';', encoding='1251')

In [7]:
data.head()

,Дата заявки,ИНН,ОГРН,Наименование ЛП,Предмет лизинга,Передан (данет),Номер договора,Дата договора,Дата передачи
0,2015-06-08,7.816531e+09,1.127847e+12,"ООО ""Комфорт-Сервис""",ГАЗ-3302,Да,АХ_ЭЛ/Спб-64583/ДЛ,2016-07-04,2016-07-08
1,2015-12-14,3.403006e+11,3.153443e+14,ИП Нестерова Инна Идульваевна,ГАЗ-A21 NEXT,Нет,АХ_ЭЛ/Мск-61095/ДЛ,2016-02-09,NaT
2,2015-12-16,5.751002e+11,3.045751e+14,ИП Генкин Олег Юрьевич,ГАЗ-A64 NEXT,Да,АХ_ЭЛ/Орл-61579/ДЛ,2016-02-29,2016-03-18
3,2015-12-18,6.684008e+09,1.136684e+12,"ООО ""Елисей""",ГАЗ-C41R33,Да,АХ_ЭЛ/Екб-60771/ДЛ,2016-01-19,2016-01-26
4,2015-12-28,2.373002e+09,1.122373e+12,"ООО ""Практик-рыба""",ГАЗ-A23R33,Да,АХ_ЭЛ/Крд-60748/ДЛ,2016-01-18,2016-02-09

In [41]:
data2 = pd.read_excel('el_vig2.xlsx', converters={'ИНН':str})

In [42]:
data2.rename(columns={'ИНН':'inn2', 'Дата договора':'contract_date', 'Номер договора':'guid2', 'Наименование ЛП':'name','Дата заявки':'appl_date', 'Дата передачи':'transfer_date'}, inplace=True)

In [44]:
data3 = data2.loc[pd.isna(data2['contract_date']) == True, :]

In [46]:
data2 = data2.loc[data2['transfer_date'] > '2016-10-01', :]

In [48]:
data_1 = data.loc[:,['inn1','inn2','contract_date','guid','name1','name2']].groupby(by=['inn2','contract_date']).agg({'contract_date': max,'inn1': max,'inn2': max,'name1':'max','name2':'max','guid':'count'})
data_1.index = [x for x in range(0, len(data_1))]

In [49]:
#data_21 = data2.loc[pd.isna(data2['contract_date']) == False,['inn2','contract_date','guid2','name']].groupby(by=['inn2','contract_date']).agg({'contract_date': max,'inn2': max,'name':'max', 'guid2':'count'})
data_21 = data2.loc[:,['inn2','contract_date','guid2','name']].groupby(by=['inn2','contract_date']).agg({'contract_date': max,'inn2': max,'name':'max', 'guid2':'count'})
data_21.index = [x for x in range(0, len(data_21))]

In [50]:
data_21['contract_date'] = pd.to_datetime(data_21['contract_date'])

In [51]:
#data_31 = data2.loc[pd.isna(data2['contract_date']) == True,['inn2','guid2','name','appl_date']].groupby(by=['inn2','appl_date']).agg({'appl_date':'max','inn2': 'max','name':'max', 'guid2':'count'})
data_31 = data3.loc[:,['inn2','guid2','name','appl_date']].groupby(by=['inn2','appl_date']).agg({'appl_date':'max','inn2': 'max','name':'max', 'guid2':'count'})
data_31.index = [x for x in range(0, len(data_31))]

In [54]:
new_data = pd.merge(data_1, data_21, on = ['inn2','contract_date'], how='left')
new_data2 = pd.merge(data_21, data_1, on = ['inn2','contract_date'], how='left')
new_data3 = pd.merge(data_1.loc[data_1['inn1'] == '7706561875',:], data_21, on = ['inn2','contract_date'], how='left')
new_data4 = pd.merge(data_31, data_1, on = ['inn2'], how='left')

In [55]:
new_data.loc[new_data.loc[:,'inn2'] == '504200512007',:]

,contract_date,inn1,inn2,name1,name2,guid,name,guid2
6887,2018-05-24,7706561875,504200512007,Общество с ограниченной ответственностью «Элем...,Николаев Александр Федорович,5,ИП Николаев Александр Федорович,5.0

In [ ]:
new_data.loc[new_data['inn2'] == '010503642385', :]

In [ ]:
new_data3.isnull().sum()

In [ ]:
new_data4

In [ ]:
new_data.loc[(pd.isna(new_data['name']) == False) & (new_data['inn1'] != '7706561875'),:]